In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import os
os.chdir('/content/drive/MyDrive/master_degree/paper')
!ls

Mounted at /content/drive
 논문계획서_2nd.gdoc			  data
 archive.zip				 '기존 분석결과.gdoc'
 booking.com_hotel_review_korea.csv.zip  '논문 지도교수 배정신청서.gdoc'
 code_R					 '레퍼런스 링크.gdoc'
 colab

In [ ]:
import pandas as pd
from io import StringIO
import sys

In [ ]:
df = pd.read_csv('data/processed/rv_merge_en_1.csv', index_col=0)
df = df[~df.app_nm.isin(['naver', 'starbucks'])]

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
df.head()

  app_nm  ... lang
0   zoom  ...   en
1   zoom  ...   en
2   zoom  ...   en
3   zoom  ...   en
4   zoom  ...   en

[5 rows x 6 columns]

# Dataset describe

In [ ]:
print(df['app_nm'].unique())
print('Number of apps: ',len(df['app_nm'].unique()))

['zoom' 'discord' 'fbm']
Number of apps:  3

In [ ]:
print('rows and columns', df.shape, '\n')
print('reviews of each app', df.groupby(['app_nm']).size())

rows and columns (1250664, 6)

reviews of each app app_nm
discord    118292
fbm        795645
zoom       336727
dtype: int64

# WHAT TO DO?
### preprocessing

reference 1: https://towardsdatascience.com/introduction-to-nlp-part-1-preprocessing-text-in-python-8f007d44ca96

reference 2: https://bkshin.tistory.com/entry/NLP-4-%EC%96%B4%EA%B0%84-%EC%B6%94%EC%B6%9CStemming%EA%B3%BC-%ED%91%9C%EC%A0%9C%EC%96%B4-%EC%B6%94%EC%B6%9CLemmatization
* tokenize
* lemmatize

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

nltk.download('stopwords') 
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
part1 = """We are gathered here today on this joyous occasion to celebrate the special love that Monica and Chandler share. It is a love based on giving and receiving as well as having and sharing. And the love that they give and have is shared and received. And
through this having and giving and sharing and receiving, we too can share and love and have... and receive."""
part2 = """When I think of the love these two givers and receivers share I cannot help but envy the lifetime ahead of having and loving and giving and receiving."""

# Create a dataframe
X_train = pd.DataFrame([part1, part2], columns=['speech'])
X_train

                                              speech
0  We are gathered here today on this joyous occa...
1  When I think of the love these two givers and ...

In [ ]:
def preprocess_text(text):
    # Tokenise words while ignoring punctuation
    tokeniser = RegexpTokenizer(r'\w+')
    tokens = tokeniser.tokenize(text)
    
    # Lowercase and lemmatise 
    lemmatiser = WordNetLemmatizer()
    lemmas = [lemmatiser.lemmatize(token.lower(), pos='v') for token in tokens]
    
    # Remove stopwords
    keywords= [lemma for lemma in lemmas if lemma not in stopwords.words('english')]
    return keywords